@charset "utf-8";
body {
    background-size: cover;
}
h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
}
body h2 {
    background-color: black;
    color: white;
    text-align: center;
}
body h2 a {
    color: white;
    text-decoration: none;
}
body footer p {
    margin-left: 200px;
    margin-right: 200px;
    font-weight: bold;
    font-size: large;
}


body h1 {
    text-align: center;
}
body h1 a {
    color: blue;
    text-decoration: none;
}
