@charset "utf-8";
body h1 {
    text-align: center;
}
body h1 a {
    color: blue;
    text-decoration: none;
}
body h2 {
    text-align: center;
    background-color: black;
}
body {
    background-image: url(images/%E5%8D%8E%E7%A7%91%E3%80%81.jpg);
    background-size: cover;
}

body h2 a {
    color: white;
    text-decoration: none;
}
